{% comment %}
  Expects to be passed a papers structure.
  See for instance usage in publications/index.html
{% endcomment %}

<ul class="papers">
{% for paper in papers %}
<li><a href="{{paper.page.url}}">{{ paper.data.title|raw }}</a>
    ({{ paper.data.date | dateFormat: "MMM yyyy" }})
    by 

    <!--<span class="headline">-->
        {{ paper.data.item.authors | join: ", " }}
        
        <!--{% for label in paper.labels %}
            <span class="label label-info">{{label}}</span>
        {% endfor %}-->
    <!--</span>-->

    
    <span class="links">
        {% for kv in paper.data.reference_links %}[{{ kv[1] }}] {% endfor %}
    </span>
</li>
{% endfor %}
</ul>
